<style>
#search_main{
	width:100%;
	margin-left:auto;
	margin-right:auto;	padding-top:10px;
}
.blank{
	width:100%;
	min-height:400px;
	margin-left:auto;
	margin-right:auto;
}
.s_title{
	text-align:center;
	font-size:24px;
	padding:5px;
}
</style>
<style>
.success{text-align:center;font-size:16px;height:40px;}.error{text-align:center;font-size:16px;height:40px;}
.resend{text-align:center;font-size:16px;height:40px;}
</style>
<div class="main">
<div class="main_lefts">
            <div class="box">
                <h5 class="title-2">协同办公</h5>
                <ul class="side_menu">
				{pc:content action="category" catid="60" num="10" siteid="$siteid" order="listorder ASC" return="data5"}
					{loop $data5 $k $v}
							<li><a href="{$v[url]}">{$v[catname]}</a></li>
					{/loop}
				{/pc}
		</ul>
    </div>
</div>
<div class="main_right">
<div id="search_main">
<div id="search_c">
<div class="s_title">邮件验证</div>	<?php if($success){?>
		<div class="success">			{$success}		</div>	<?php }?>	<?php if($error){?>	<div class="error">	{$error}	</div>	<?php }?>
</div>
</div>
</div></div>