<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">
	<script src="{JS_PATH}jquery.min.js"></script>
	<script type="text/javascript" language="javascript" src="{JS_PATH}slides.min.jquery.js"></script>
	<script type="text/javascript" language="javascript" src="{JS_PATH}header_index.js"></script>
	<link rel="stylesheet" href="{CSS_PATH}index.css" type="text/css" />
	<link rel="stylesheet" href="{CSS_PATH}menu.css" type="text/css" />
	<link rel="stylesheet" href="{CSS_PATH}menu.style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{CSS_PATH}global.css" type="text/css" media="screen" />
</head>
<body id="top">
<div class="header_w">
	<div id="index_header" class="index_header">
		<div id="logo" class="logo">
			<a href="{APP_PATH}" style="float:left;">
				<img src="http://zone.zmodo.com/cms/statics/images/logo.png">
			</a>
		</div>
		<div id="header_menu" class="header_menu">
		<!--menu.html-->
			<div class="container">
				<div class="menu style-1">
					<ul class="menu">
						<li><a id="to_blog" href="{$blogUrl}" target="_blank">CEO博客</a>
							<img src='{IMG_PATH}NEW.png' id='blog_new_notice' style='display:none;left:70px;position: absolute;top: -10px;'/>
							<div class="mega-menu col-3" id="mega_menu1">
									<div class="col-3">
										<ol>
										{pc:get sql="SELECT post_title,guid FROM wp_posts where post_status='publish' order by ID DESC" cache="0" num="10" dbsource="blog" return="data"}								
										{loop $data  $r}
										<li><a href="{$r['guid']}{$blogUrle}" title="{$r['post_title']}">{$r['post_title']}</a></li>
										{/loop}
										{/pc}
										{pc:get sql="SELECT COUNT(ID) as blog_qty FROM wp_posts where post_status='publish' order by post_date" cache="0" dbsource="blog" return="data"}
											<script type="text/javascript" src="{JS_PATH}jq_cookie.js"></script>
											<script type="text/javascript">
												$(document).ready(function(){
													$("#to_blog").click(function(){
														var date = new Date();  
														date.setTime(date.getTime() + (7 * 24 * 60 * 60 *1000));  
														$.cookie('blog_info_qty', {$data[0][blog_qty]}, { path: '/cms', expires: date });  
													});
													
													if($.cookie('blog_info_qty') < {$data[0][blog_qty]}){
														$("#blog_new_notice").css('display','block');
													}
												});
											</script>   
										{/pc}
										</ol>
									</div>
							</div>
						</li>
						<li><a id="gszk" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=67" >公司周刊</a>
						<img src='{IMG_PATH}NEW.png' id='new_gszk' style='display:none;left:185px;position: absolute;top: -10px;'/>
						{pc:content action="lists" catid="67" order="id DESC" thumb=""  num="10"  return="data" }
								{if !empty($data)}
								<div class="mega-menu col-3" id="mega_menu2">
								<div class="col-3">
									<ol>
										{loop $data $n $r}
										{php $kkksss=$n+$kkksss}
										<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
										{/loop}
									</ol>
									</div>
									</div>
								<script type="text/javascript">
								$(document).ready(function(){
									$("#gszk").click(function(){
									var date = new Date();  
									date.setTime(date.getTime() + (7 * 24 * 60 * 60 *1000));  
									$.cookie('gszk', {$kkksss}, { path: '/cms', expires: date });  
									});
									if($.cookie('gszk') < {$kkksss}){
									$("#new_gszk").css('display','block');
									}
								});
								</script>   
								{/if}
								{/pc}
						</li>
					<li><a id="ygfx" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=24">ZMODO大学</a>
						<img src='{IMG_PATH}NEW.png' id='new_ygfx' style='display:none;left:330px;position: absolute;top: -10px;'/>		
								{pc:content action="lists" catid="24" order="id DESC" thumb=""  num="10"  return="data" }
								
								{if !empty($data)}
								<div class="mega-menu col-3" id="mega_menu3">
								<div class="col-3">
									<ol>
										{loop $data $n $r}
										{php $kkkksss=$n+$kkkksss}
										<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
										{/loop}
									</ol>
									</div>
									</div>
								<script type="text/javascript">
								$(document).ready(function(){
									$("#ygfx").click(function(){
									var date = new Date();  
									date.setTime(date.getTime() + (7 * 24 * 60 * 60 *1000));  
									$.cookie('ygfx', {$kkkksss}, { path: '/cms', expires: date });  
									});
									if($.cookie('ygfx') < {$kkkksss}){
									$("#new_ygfx").css('display','block');
									}
								});
								</script>   
								{/if}
								{/pc}
									
							
						
					</li>
					<li><a id="yggh" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=26">ZMODOer</a>
					<!--<img src='{IMG_PATH}NEW.png' id='new_yggh' style='display:none;left:445px;position: absolute;top: -10px;'/>		-->

								{pc:content action="lists" catid="66" order="id DESC" thumb=""  num="10"  return="data" }
								
								{if !empty($data)}
								<div class="mega-menu col-4" id="mega_menu4">
									<div class="col-1">
									<ol>
										<p style="color:black;size:20px;"><b>企业文化</b></p>

										{pc:content action="category" catid="1" num="20" siteid="$siteid" order="listorder ASC"}
											{loop $data $t $r}
											<li><a href="{$r[url]}">{$r[catname]}</a></li>
											{/loop}
										{/pc}

									</ol>
									</div>
								<div class="col-1">
									<ol>
										<p style="color:black;size:20px;"><b>员工论坛</b></p>

										{pc:content action="category" catid="26" num="20" siteid="$siteid" order="listorder ASC"}
											{loop $data $t $r}
											<li><a href="{$r[url]}">{$r[catname]}</a></li>
											{/loop}
										{/pc}

									</ol>
									</div>

								<div class="col-2">
									<ol>
									{pc:content action="lists" catid="26" order="id DESC" thumb=""  num="7"  return="data" }
								
										{loop $data $n $r}
										{php $kkkkksss=$n+$kkkkksss}
										<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
										{/loop}
									{/pc}
									</ol>
									</div>
								</div>
								<script type="text/javascript">
								$(document).ready(function(){
									$("#yggh").click(function(){
									var date = new Date();  
									date.setTime(date.getTime() + (7 * 24 * 60 * 60 *1000));  
									$.cookie('yggh', {$kkkkksss}, { path: '/cms', expires: date });  
									});
									if($.cookie('yggh') < {$kkkkksss}){
									$("#new_yggh").css('display','block');
									}
								});
								</script>

								{/if}
								{/pc}
						
					</li>
					<li><a href="#"><span style="color:#ff9933">My ZONE</span></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
<!--{photo.html}-->
 <!--{photo.html}-->
    <div class="bann" style="width:1000px;margin-left:auto;margin-right:auto;">
        <!--flash begin-->
        <div id="flashBg">
            <div id="flashLine">
                <div id="flash">
                    <div id="flash1" class="item"  style="display:block;">
                        <img src="{IMG_PATH}banner/bann_ipc.jpg" width="1000" >
                    </div>
                    <div id="flash2" class="item"  >
                        <img src="{IMG_PATH}banner/bann_0605_en.jpg" width="1000" >
                    </div>
                    <div id="flash3" class="item"  >
                        <img src="{IMG_PATH}banner/bann_poe.jpg" width="1000" >
                    </div>
                    <div id="flash4" class="item"  >
                        <img src="{IMG_PATH}banner/bann0417b.jpg" width="1000" >
                    </div>
                    <div class="flash_bar">
                        <div class="dq" id="f1" onclick="changeflash(1)"></div>
                        <div class="no" id="f2" onclick="changeflash(2)"></div>
                        <div class="no" id="f3" onclick="changeflash(3)"></div>
						<div class="no" id="f4" onclick="changeflash(4)"></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
        <script type="text/javascript">
            var currentindex=1;
            $("#flashBg").css("background-image",$("#flash1").attr("role"));
            function changeflash(i) {
                currentindex=i;
                for (j=1;j<=4;j++){
                    if (j==i)
                    {$("#flash"+j).fadeIn("normal").css({
                        "background-image": $("#flash"+j).attr("role")
                    });
                        $("#flash"+j).css("display","block");
                        $("#f"+j).removeClass();
                        $("#f"+j).addClass("dq");

                    }
                    else
                    {$("#flash"+j).css("display","none");
                        $("#f"+j).removeClass();
                        $("#f"+j).addClass("no");}
                }}
            function startAm(){
                timerID = setInterval("timer_tick()",5000);
            }
            function stopAm(){
                clearInterval(timerID);
            }
            function timer_tick() {
                currentindex=currentindex>=3?1:currentindex+1;
                changeflash(currentindex);}
            $(document).ready(function(){
                $(".flash_bar div").mouseover(function(){stopAm();}).mouseout(function(){startAm();});
                startAm();
            });
      </script>
<!--banner.html-->
<!--banner.html-->

<div class="banner_main color_wihte">
	<ul id="ntabs" class="index_font color_r">
	{pc:content action="category" catid="0" num="7" siteid="$siteid" order="listorder ASC" return="data5"}
		{loop $data5 $k $v}
			{$kkk++}
			<li><a href="{$v[url]}">{$v[catname]}</a>
				<div id="ntabboxDiv{$kkk}">
				<span class="icon"></span>
				{pc:content action="category" catid="$k" num="20" siteid="$siteid" order="listorder ASC"}
					{loop $data $t $r}
					<a href="{$r[url]}">{$r[catname]}</a>
					{/loop}
				{/pc}
				</div>
			</li>
		{/loop}
	{/pc}
	</ul>
	
</div>
<div id="blank1" style="height:0px;"></div>
<div class="clear"></div>
	<style>
	#search_main{
		padding-top:10px;
	}
	#search{font-size:14px;}
	#search_c{
	width:400px;
	margin-left:auto;

	}
	#search .k{width:240px;}
	.k input {
	
	}
	#search_auto{border:1px solid #d4d4d4; position:absolute; display:none;margin-left:auto;margin-right:auto;}
	#search_auto li{background:#FFF; text-align:left;list-style:none;font-size:16px;}
	#search_auto li.cls{text-align:right;}
	#search_auto li a{display:block; padding:5px 6px; cursor:pointer; color:#666;}
	#search_auto li a:hover{background:#D8D8D8; text-decoration:none; color:#000;}
	.blank{
		width:100%;
		min-height:400px;
		margin-left:auto;
		margin-right:auto;
	}
	.s_title{
		text-align:center;
		font-size:24px;
		padding:5px;
	}

	p {font:14px/26px arial;}
	input{border:0;padding:0}
	.s_ipt_wr{width:250px;height:30px;display:inline-block;margin-right:10px;background:url({APP_PATH}Search.gif) no-repeat;border:1px solid #d4d4d4;border-color:#d4d4d4 #d4d4d4 #d4d4d4 #d4d4d4 ;vertical-align:top}
	.s_ipt{width:250px;height:22px;font:16px/22px arial;margin:4px 0 0 7px;background:#fff;outline:none;-webkit-appearance:none}
	.s_btn_wr{width:122px;height:34px;display:inline-block;background:url({APP_PATH}Search.gif) no-repeat -260px -50px;*position:relative;z-index:0;vertical-align:top}
	.s_btn{width:120px;height:32px;padding-top:2px\9;font-size:16px;background:#ddd url({APP_PATH}Search.gif) 0 -50px;cursor:pointer;color:#d4d4d4;}
	.s_btn_h{background-position:-130px -50px;}
	#showmore{width:450px;;text-align:right;}
	</style>
<!--{index.html}-->
<div class="index_mains">
	<div  class="main_left">
		<ul id="tabs" class="index_font color_r">
			<li id="ctab1" class="current" onclick="cswitchTab('ctab1','ctabboxDiv1');this.blur();return false;">最新动态<b></b></li>
			<li id="ctab2" onclick="cswitchTab('ctab2','ctabboxDiv2');this.blur();return false;">Notice Board<b></b></li>
			<li id="ctab3" onclick="cswitchTab('ctab3','ctabboxDiv3');this.blur();return false;">最新说说<b></b></li>
			<li id="ctab4" onclick="cswitchTab('ctab4','ctabboxDiv4');this.blur();return false;">大事记<b></b></li>
			<li id="ctab5" onclick="cswitchTab('ctab5','ctabboxDiv5');this.blur();return false;">Live Demo<b></b></li>
			<li id="ctab6" onclick="cswitchTab('ctab6','ctabboxDiv6');this.blur();return false;">英语沙龙<b></b></li>
			<li id="ctab7" onclick="cswitchTab('ctab7','ctabboxDiv7');this.blur();return false;">通讯录<b></b></li>
			<li id="ctab8" onclick="cswitchTab('ctab8','ctabboxDiv8');this.blur();return false;">官方微博<b></b></li>
		</ul>
	</div>
<script type="text/javascript">
$(function() {
$("#newstwo").hide();
$("#showmorec").click(function(){
  $("#newstwo").toggle();
  var v=$("#showmorec").text();
  if(v=="显示更多"){
	  $("#showmorec").text("隐藏更多");
  }
  else{
	$("#showmorec").text("显示更多");
}
});
});


</script>
	<div class="index_rights">
					<div id="ctabboxDiv1" >
						<div class="index_news">最新动态</div>
						<div class="index_content">

						<ul>
							{loop $newsData $r $v}
							<li class="list"  id="images<?php echo($r+1)?>"><p class="index_article"><a href="{$v['url']}" target="_blank" title="{$v['title']}">{get_word($v['title'],55)}</a></p></li>
							<?php if($r==11){?>
							</div>
							<div id="newstwo" >
							<?php } ?>	
							{/loop}
						</ul>
							<!--<p id="showmore" ><a href="javascript:;"  id="showmorec">显示更多</a></p>-->
						</div>
					</div>
					<div id="ctabboxDiv2" style="display:none;">
						<div class="index_news">Notice Board</div>
						<div class="index_content">
						{pc:content action="lists" catid="85" num="10" order="id DESC" return="data7"}
						<ul>
							{loop $data7 $v}
							<li class="list"><p class="index_article"><a href="{$v['url']}" target="_blank" title="{$v['title']}">{get_word($v['title'],55)}</a></p></li>
							{/loop}
						</ul>
						{/pc}
						</div>
					</div>
					<div id="ctabboxDiv3" style="display:none;">
						<div class="index_news">最新说说</div>
						<div class="index_content">
						<ul>
							{loop $commentdata $vb}
							<li class="list"><p class="index_article"><a href="{$vb['url']}" target="_blank" title="{$vb['author']}发表">{get_word($vb['content'],55)}</a></p></li>
							{/loop}
						</ul>
		
						</div>
					</div>
					<div id="ctabboxDiv4" style="display:none;">
						<div class="index_news">大事记</div>
						<div class="index_content">

						</div>
					</div>
					<div id="ctabboxDiv5" style="display:none;">
						<div class="index_news">Live Demo</div>
						<div class="index_content">
							<ul>
								<li class="list"><a href="http://162.17.56.121/" target="_blank">ZH-KA0A02-W</a></li>
								<li class="list"><a href="http://183.62.140.162:8088/" target="_blank">ZMD-KNS4-IASFZ4ZN</a></li>
							</ul>
						</div>
					</div>
					<div id="ctabboxDiv6" style="display:none;">
						<div class="index_news">英语沙龙</div>
					</div>
					<div id="ctabboxDiv7" style="display:none;">
						<div class="index_news">通讯录</div>
							<div class="index_content">
								<div id="search_c">
										<div id="search">
											<form action="index.php" method="GET">
													<input type="hidden" name="m" value="cdsearch"/>
													<input type="hidden" name="c" value="index"/>
													<input type="hidden" name="a" value="result"/>
													<span class="s_ipt_wr">
													<input id="kw" class="k s_ipt"  type="text"  name="k" autocomplete="off">
													</span>
													<span class="s_btn_wr">
													<input id="su" class="s_btn" type="submit" onmouseout="this.className='s_btn'" onmousedown="this.className='s_btn s_btn_h'" value="Zsearch" onfocus="blur()" >
													</span>
											</form>
										</div>
									<div id="search_auto"></div>
								</div>
							</div>
					</div>
					<div id="ctabboxDiv8" style="display:none;">
						<div class="index_news">官方微博</div>
						<div class="index_content">
							<a href="http://e.weibo.com/zmodo" target="_blank">Zmodo微博</a>
						</div>
					</div>

					<div id="weather">
						<div id="birthday">
						<p id="birthday_s">本月({php echo date('Y-m')})生日搒</p>
						<div id="quotation">
						</div>				
						</div>
						<iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=7" style="border:solid 1px #d4d4d4" width="278" height="90" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
		</div>
</div>

<script type="text/javascript">

var t=setInterval(AutoScroll,2000);

 

function AutoScroll()

{

  var firstItem=$('#quotation li:first');

  var lastItem=$('#quotation li:last');

   firstItem.remove();

   firstItem.insertAfter(lastItem);

}

 

$(function(){

  $('#quotation').mouseover(function(){

  clearInterval(t);

  });

 

  $('#quotation').mouseout(function(){

  t=setInterval(AutoScroll,3000);

  });

});

$("#quotation").load("{APP_PATH}index.php?m=cdsearch&c=index&a=birthday"); 
</script>
			<script>

			$(function(){
			$('#search_auto').css({'width':$('#search input[name="k"]').width()+4});
			$('#search input[name="k"]').keyup(function(){
			$.post('index.php',{'k':$(this).val(),'m':'cdsearch',c:'index',a:'search_auto'},function(data){

			if(data=='0') $('#search_auto').html('').css('display','none');
			else $('#search_auto').html(data).css('display','block');});});
			});

			</script>

{template "content","footer"}
